:host ::ng-deep {
    .mat-tab-label-container {
         overflow-x: scroll !important;
         padding:0 .5rem;
    }
    .mat-tab-labels {
        padding: 1rem 0 2.5rem 0;
        gap: 1rem;
        // overflow-x: scroll !important;
    }
    .mat-tab-header {
        // margin-left: -1.5rem;
        // margin-right: -1.5rem;
        border: 0px;
        z-index: 1;
    }
    .mat-tab-label {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        min-width: 4rem;
        background: #fff;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        // flex:1;
        text-align: center;
        white-space: no-wrap;
        
        &:hover, &:focus, &.mat-tab-label-active {
            scale: 1.2;
        }
        span {
            display: none;
        }
        &.mat-tab-label-active{
            overflow: visible;
            border:3px solid #000;
            background: #ffc107;
            .mat-tab-label-content {
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    position: absolute;
                    bottom: -24px;
                    color: #fff;
                }
            }
        }
    }
    .mat-ink-bar {
        display: none;
    }
    // .mat-tab-label-active {
    //     background: #4050b5;
    // }
    // .mat-chip-list-wrapper {
    //     flex-wrap: nowrap !important;
    //     overflow-x: auto;
    //     padding: 0rem 0 2rem 0 !important;
    //     margin-bottom: 1rem !important;
    //     justify-content: center;
    //     @media only screen and (max-width: 768px) {
    //         justify-content: flex-start;
    //     }
    //     gap: 1rem;
    //     margin-left: -1.5rem;
    //     margin-right: -1.5rem;
    //     padding-left: 1.5rem !important;
    //     mat-chip:last-child {
    //         margin-right:24px;
    //     }
    // }
    // .mat-standard-chip {
    //     white-space: nowrap;
    //     min-height: 4rem;
    //     min-width: 4rem;
    //     max-width:4rem;
    //     border-radius: 28% 38% 35% 40%;
    //     transition: all 0.5s ease-in-out;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border:2px solid #e94057;
    //     background-color: #fff;
    //     span {
    //         display: none;
    //         position: absolute;
    //         bottom: -1.75rem;
    //     }
    //     &:hover{
    //         scale: 1.15;
    //         background-color:#3f51b5;
    //         span {
    //             display: block;
    //             color: #fff;
    //         }
    //     }
    //     .mat-chip-avatar {
    //         width: 50%;
    //         height: auto;
    //         border-radius: 0%;
    //     }
    //     &.mat-chip-with-avatar {
    //         padding-right: 0;
    //     }
    //     &.mat-chip-selected {
    //         scale: 1.15;
    //         border: 0.1875rem solid #81ff00;
    //         span {
    //             display: block;
    //             color: #fff;
                
    //         }
    //     }
    // }


}


