:host ::ng-deep {
    .mat-chip-list-wrapper {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        padding: 0 0 2rem 0 !important;
        margin-bottom: 1rem !important;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            justify-content: flex-start;
        }
        gap: 1rem;
    }
    .mat-standard-chip {
        white-space: nowrap;
        min-height: 64px;
        min-width: 64px;
        max-width:64px;
        border-radius: 28% 38% 35% 40%;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        border:2px solid #e94057;
        background-color: #fff;
        span {
            display: none;
            position: absolute;
            bottom: -28px;
        }
        &:hover{
            scale: 1.15;
            background-color:#3f51b5;
            span {
                display: block;
                color: #fff;
            }
        }
        .mat-chip-avatar {
            width: 50%;
            height: auto;
            border-radius: 0%;
        }
        &.mat-chip-with-avatar {
            padding-right: 0;
        }
        &.mat-chip-selected {
            scale: 1.15;
            span {
                display: block;
                color: #fff;
                
            }
        }
    }


}


