<mat-card class="pt-box-card" *ngFor="let content of data;let i=index" class="head mb-3 card">
  <mat-card-header class="d-flex flex-row" >
    <div mat-card-avatar class="header-image">
      <img width="70px" height="70x" src="{{content.icon}}" alt="">
    </div>
    <div class="content">
      <mat-card-title class="mt-2" >{{content.title}} </mat-card-title>
      <mat-card-subtitle> <b>This has {{content.objective}}</b>
      </mat-card-subtitle>
      <mat-card-subtitle> <b>{{content.type}} | About: {{content.about}} | in {{content.lan}} | Source: {{content.source}}</b>
      </mat-card-subtitle>
      </div>
  </mat-card-header>
</mat-card>