<div class="pt_backbar-container pt-5 pb-4">
  <mat-toolbar color="accent" class="pt_backbar">
    <button mat-icon-button class="example-icon me-2" aria-label="Example icon-button with menu icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{title}}</span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button type="button" class="me-3 btn-new">Create Pitara</button>
    <button
      mat-icon-button
      class="br-100 btn-new btn-new--round" aria-label="Example icon-button with share icon"
    ><mat-icon>person</mat-icon>
    </button> -->
  </mat-toolbar>
</div>