.pt_backbar {
    border-radius: 1.25rem 1.5rem 1.45rem 1.25rem !important;
}
.mat-toolbar{
    background: transparent;
    /* height: 1%; */
}

::ng-deep {
    .padding-left-30 {
        mat-toolbar .example-spacer {
            // &:first-of-type {
                display: none;
            // }
        }
    }
}