.pt-card-data {
    overflow: hidden;
    padding-bottom: 4rem !important;
}
.box-wave {
    position: absolute;
    bottom:0;
    left: 0;
    height: 64px;
    width: 100%;
    transform: rotate(180deg);
    border-radius: 2rem;
    .fill-success {
        fill:#cd3767;
    }
}

.gr-font {
    font-size: 2rem;
  background:linear-gradient(320deg, #f27121, #e94057, #8a2387);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}