// .--magicbox {
//     overflow-x: auto;
// -webkit-overflow-scrolling: touch;
// grid-gap: 1rem;
// padding-bottom:2rem;
// }


/* box */
$body--Background: #F0F1F1;
$icon-rocket--Color: #4F5D75;

.box-wrapper {
  perspective: 50rem;
  perspective-origin: 50% 6.25rem;
}

.box-faces {
  position: relative;
  width: 9.375rem;
  transform-style: preserve-3d;
}

.box-faces p {
  padding: 0 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 9.3rem;
    display: block;
  }
}

.box-face {
  //   outline: 1px solid #999;
  position: absolute;
  width: 9.375rem;
  height: 9.375rem;
  opacity: 0.98;
  box-shadow: inset 0px 0px 3.125rem #555;
  overflow: hidden;
}

.box-face--is-back {
  transform: translateZ(-6.25rem) rotateY(180deg);
  background-color: #ddd;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.box-face--is-right {
  transform: rotateY(-270deg) translateX(6.25rem);
  transform-origin: top right;
  background-color: #ddd;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.box-face--is-left {
  transform: rotateY(270deg) translateX(-6.25rem);
  transform-origin: center left;
  background-color: #ddd;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.box-face--is-top {
  transform: rotateX(-90deg) translateY(-3.125rem);
  transform-origin: top center;
  background-color: #fafafa;
}

.box-face--is-bottom {
  transform: rotateX(90deg) translateY(3.125rem);
  transform-origin: bottom center;
  background-color: #bbb;
}

.box-face--is-front {
  transform: translateZ(3.125rem);
  background-color: #eee;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

.box-faces,
.shadow {
  animation: spin 15s infinite linear;
}


.shadow-wrapper {
  perspective: 50rem;
  perspective-origin: 50% 6.25rem;
  /*  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 6.25rem;*/
}

.shadow {
  position: relative;
  width: 9.375rem;
  transform-style: preserve-3d;
}

.shadow div {
  position: absolute;
  width: 9.375rem;
  height: 9.375rem;
  top: 0px;
  opacity: 0.98;
  box-shadow: 0px 0px 6.25rem #000;
  transform: rotateX(90deg) translateY(3.125rem);
  transform-origin: bottom center;
}


.pitara-box-item {
  position: relative;
  overflow-x: visible;
  height: 23rem;
  // width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 2rem;

  &:hover .box-face--is-top {
    transform: rotateX(-45deg) translateY(-3.125rem);
  }

  &:hover .hover {
    display: block;
  }

  .hover {
    display: none;
    position: absolute;
    top: -10rem;
    left: 0;
    z-index: 99;
  }

  .pitara-box-details {
    position: absolute;
    top: 13.625rem;
    left: 0;
    width: 100%;
    text-align: center;

    h4 {
      background: rgb(0 0 0 / 20%);
      border-radius: 24px;
      width: auto;
      display: inline-block;
      padding: 4px 16px;
    }

    .mat-mini-fab {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .mat-mini-fab.mat-primary {
      background-color: #3f51b5;
    }
  }
}

p {
  margin-bottom: 0 !important;
}

.favorite {
  background-color: #ff4081 !important;
}
// .btn-fix {
//   position: fixed;
//   right: 4px;
//   top: 8px;
//   z-index: 2;
//   @media only screen and (max-width: 768px) {
//     padding: 4px 16px !important;
//   }
// }

.pitara-type-header {
  padding-left: 2rem;
  color: #fff;
}

// @media only screen and (max-width: 768px) { 
//   .btn-fix {
//     width: 90%;
//     bottom: 88px;
//     top: unset;
//     left: 50%;
//     right: unset;
//     transform: translateX(-50%);
//   }
// }

::ng-deep {
  .pitara-tab .mat-tab-label {
    font-size: 16px;
    color: #fff;
  }

  .pitara-tab.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #fff;
  }

  .pitara-tab .mat-tab-header-pagination-chevron {
    border-color: #fff;
  }
}

.button-container {
  position: absolute;
  top: 8px;
  right: 4px;
  display: flex;
}

.btn-fix {
  position: relative;
  margin-right: 8px; /* Adjust the margin as needed for space between buttons */
  z-index: 2;
}

.btn-fix:last-child {
  margin-right: 0; /* Remove margin from the last button to prevent extra space */
}

@media only screen and (max-width: 768px) {
  .btn-fix {
    padding: 4px 16px !important;
  }
}