<div class="pt_backbar-container  py-3">
  <mat-toolbar class="pt_navbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    <a routerLink="/home" class="text-center"><img src="./../../../assets/images/logo.png" alt="Khel Khel Mei" class="logo" /></a>
    <!-- <span class="example-spacer"></span>
     <button mat-raised-button type="button" class="me-3 btn-new" [routerLink]="['/pitara']" routerLinkActive="router-link-active" >Explore Pitaras</button> -->
   <!-- <button
      mat-icon-button
      class="br-100 btn-new btn-new--round" aria-label="Example icon-button with share icon"
    ><mat-icon>person</mat-icon>
    </button> -->
  </mat-toolbar>
</div>