<div id="playerFullscreen" class="player-fullscreen" [ngStyle]="{'display': mobileViewDisplay}">
  <button mat-mini-fab color="warn" (click)="closeFullscreen()" class="close-button" style="position: absolute;top:16px;right:16px;z-index: 9999;"><mat-icon>close</mat-icon></button>
    <iframe #preview id="contentPlayer" title="Content Player" class="contentViewerIframeShadow" name="contentPlayer"
      src="/assets/content-player/preview.html?webview=true" frameborder="0" aria-label="Content Player" allowfullscreen  width="500" height="300"></iframe>
  </div>