<div class="container">
    <div class="row">
        <div class="col-4 border-end">
            <div class="pt-box-card-container --magicbox">
                <div class="pitara-box-item">
                    <div class="">
                    <div class="shadow-wrapper">
                      <div class="shadow">
                        <div>&nbsp;</div>
                      </div>
                    </div>
                    <div class="box-wrapper">
                      <div class="box-faces">
                        <div class="box-face box-face--is-front">
                          <p>
                            <img mat-card-sm-image src="../../../assets/images/box.png" alt="content image">
                          </p>
                        </div>
                        <div class="box-face box-face--is-back">
                          <p>
                            <img mat-card-sm-image src="../../../assets/images/box.png" alt="content image">
                          </p>
                        </div>
                        <div class="box-face box-face--is-top">&nbsp;</div>
                        <div class="box-face box-face--is-bottom">&nbsp;</div>
                        <div class="box-face box-face--is-left">
                          <p>
                            <img mat-card-sm-image src="../../../assets/images/box.png" alt="content image">
                          </p>
                        </div>
                        <div class="box-face box-face--is-right">
                          <p>
                            <img mat-card-sm-image src="../../../assets/images/box.png" alt="content image">
                          </p>
                        </div>
                    
                      </div><!-- end of .box -->
                    </div>
                    <div class="text-white pitara-box-details" >
                      <div >
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <mat-label>Pitara Name</mat-label>
                              <input matInput placeholder="Pitara Name" value="">
                            </mat-form-field>
                            <button mat-raised-button color="primary">Create</button>

                          </form>
                    </div>
                
                    </div>
                  </div>
            
                    </div>
                  
            
            </div>
        </div>
        <div class="col-8">
            ksdm
        </div>
    </div>
</div>