<div class="layout">
    <div class="banner" *ngIf="showInstallButton() && isInstallButtonVisible">
        {{'installMessage'|translate}}
        <button mat-raised-button color="primary" class="mx-3 btn" (click)="promptInstall()">{{'installApp'|translate}}</button>
        <button mat-button color="warn" (click)="isInstallButtonVisible=!isInstallButtonVisible">x</button>
    </div>
    <header>
        <div class="container">
            <app-headerbar *ngIf="isHeaderBarVisible"></app-headerbar>
            <app-backbar [title]="title" *ngIf="isMenuBarVisible"></app-backbar>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

</div>