<div class="layout">
    <div class="banner" *ngIf="showInstallButton() && isInstallButtonVisible">
        {{'installMessage'|translate}}
        <button mat-raised-button color="primary" class="mx-3" (click)="promptInstall()">{{'installApp'|translate}}</button>
        <button mat-button color="warn" (click)="isInstallButtonVisible=!isInstallButtonVisible">x</button>
    </div>
    <header>
        <div class="container">
            <app-headerbar *ngIf="isHeaderBarVisible"></app-headerbar>
            <app-backbar [title]="title" *ngIf="isMenuBarVisible"></app-backbar>
        </div>
    </header>
    <main>
        <div class="language m-auto ng-star-inserted w-25" *ngIf="isLanguageOptionVisible">
            <mat-form-field  appearance="fill" color="primary" class="w-100">
                <mat-label>Select your Langugage</mat-label>
                <mat-select (selectionChange)="onLanguageChange()" [(ngModel)]="selectedLanguage">
                    <mat-option value="en">English</mat-option>
                    <mat-option value="hi">Hindi</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

</div>