.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1 !important;
}


// .mobile-install-button {
//     display: none;  /* Initially hide the button on larger screens */
//   }
  
//   @media (max-width: 767px) {
//     .mobile-install-button {
//       display: block;  /* Show the button on smaller screens (e.g., mobile devices) */
//     }
//   }