<div class="layout">
<div class="banner" *ngIf="showInstallButton() && isInstallButtonVisible">
    To experience Pitara on your device, 
    <button mat-stroked-button color="accent"  (click)="promptInstall()">Install App</button>
    <button mat-stroked-button color="warn"  (click)="isInstallButtonVisible=!isInstallButtonVisible">x</button>    
</div>

<header>
    <div class="container">
    <app-headerbar *ngIf="isHeaderBarVisible"></app-headerbar>
    <app-backbar [title]="title" *ngIf="isMenuBarVisible"></app-backbar>
</div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
</div>