<div class="fluid-container">
  <div class="container">
    <app-headerbar class="py-5"></app-headerbar>
    <div class="row pt-5 align-items-center">
      <div class="col-8 text-center pt-5">
        <h3 *ngIf="data" class="text-white">{{data.name}}</h3>
        <p *ngIf="data" class="text-white">{{data.description}}</p>
        <div class="row"> 
          <div class="col">
            <p class="bubble thought">
              अपने बच्चों के साथ मिलके कुछ करना चाहते हैं?
            </p>
          </div>
          <div class="col">
            <p class="bubble thought">
              खेल आधारित शिक्षा के बारे में सहायता चाहते हैं?
            </p>
          </div>
          <div class="col">
            <p class="bubble thought">कोयि एक जादुई पिटरा खोलना चाहते हैं?</p>
          </div>
        </div>
      </div>
      <div class="col-4">
          <app-dropdown-filter></app-dropdown-filter>
      </div>
    </div>
  </div>
</div>
